wfe-core/src/main/resources/workflowScript.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://runa.ru/xml" xmlns="http://runa.ru/xml" elementFormDefault="qualified">
	<xs:element name="workflowScript">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="transactionScope" minOccurs="0" />
		        <xs:group ref="job-elements" />
			</xs:choice>
			<xs:attribute name="defaultTransactionScope" type="xs:string" use="optional" default="all" />
		</xs:complexType>
	</xs:element>

	<xs:element name="transactionScope">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
		        <xs:group ref="job-elements"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:group name="job-elements">
		<xs:choice>
			<xs:element ref="custom" minOccurs="0"/>
			<xs:element ref="namedIdentitySet" minOccurs="0"/>
			<xs:element ref="createActor" minOccurs="0"/>
			<xs:element ref="createGroup" minOccurs="0"/>
			<xs:element ref="deleteExecutor" minOccurs="0"/>
			<xs:element ref="deployProcessDefinition" minOccurs="0"/>
			<xs:element ref="redeployProcessDefinition" minOccurs="0"/>
			<xs:element ref="addExecutorsToGroup" minOccurs="0"/>
			<xs:element ref="removeExecutorsFromGroup" minOccurs="0"/>
			<xs:element ref="addPermissionsOnActor" minOccurs="0"/>
			<xs:element ref="setPermissionsOnActor" minOccurs="0"/>
			<xs:element ref="removePermissionsOnActor" minOccurs="0"/>
			<xs:element ref="addPermissionsOnGroup" minOccurs="0"/>
			<xs:element ref="setPermissionsOnGroup" minOccurs="0"/>
			<xs:element ref="removePermissionsOnGroup" minOccurs="0"/>
			<xs:element ref="addPermissionsOnRelation" minOccurs="0"/>
			<xs:element ref="setPermissionsOnRelation" minOccurs="0"/>
			<xs:element ref="removePermissionsOnRelation" minOccurs="0"/>
			<xs:element ref="addPermissionsOnDefinition" minOccurs="0"/>
			<xs:element ref="setPermissionsOnDefinition" minOccurs="0"/>
			<xs:element ref="removePermissionsOnDefinition" minOccurs="0"/>
			<xs:element ref="addPermissionsOnProcesses" minOccurs="0"/>
			<xs:element ref="setPermissionsOnProcesses" minOccurs="0"/>
			<xs:element ref="removePermissionsOnProcesses" minOccurs="0"/>
			<xs:element ref="addPermissionsOnSystem" minOccurs="0"/>
			<xs:element ref="setPermissionsOnSystem" minOccurs="0"/>
			<xs:element ref="removePermissionsOnSystem" minOccurs="0"/>
			<xs:element ref="addPermissionsOnRelationGroup" minOccurs="0"/>
			<xs:element ref="setPermissionsOnRelationGroup" minOccurs="0"/>
			<xs:element ref="removePermissionsOnRelationGroup" minOccurs="0"/>
			<xs:element ref="removeAllPermissionsFromExecutor" minOccurs="0"/>
			<xs:element ref="removeAllPermissionsFromProcessDefinition" minOccurs="0"/>
			<xs:element ref="removeAllPermissionsFromProcesses" minOccurs="0"/>
			<xs:element ref="removeAllPermissionsFromSystem" minOccurs="0"/>
			<xs:element ref="replicateBatchPresentation" minOccurs="0"/>
			<xs:element ref="deleteExecutors" minOccurs="0"/>
			<xs:element ref="changeSubstitutions" minOccurs="0"/>
			<xs:element ref="addPermissionsOnBotStations" minOccurs="0"/>
			<xs:element ref="setPermissionsOnBotStations" minOccurs="0"/>
			<xs:element ref="removePermissionsOnBotStations" minOccurs="0"/>
			<xs:element ref="createBotStation" minOccurs="0"/>
			<xs:element ref="updateBotStation" minOccurs="0"/>
			<xs:element ref="deleteBotStation" minOccurs="0"/>
			<xs:element ref="createBot" minOccurs="0"/>
			<xs:element ref="updateBot" minOccurs="0"/>
			<xs:element ref="deleteBot" minOccurs="0"/>
			<xs:element ref="addConfigurationsToBot" minOccurs="0"/>
			<xs:element ref="removeConfigurationsFromBot" minOccurs="0"/>
			<xs:element ref="removeAllConfigurationsFromBot" minOccurs="0"/>
			<xs:element ref="removeProcesses" minOccurs="0"/>
			<xs:element ref="removeProcessDefinitions" minOccurs="0"/>
			<xs:element ref="relation" minOccurs="0"/>
			<xs:element ref="stopProcess" minOccurs="0"/>
		</xs:choice>
	</xs:group>

	<xs:element name="custom">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="job" type="xs:string" use="required" />
			<xs:anyAttribute processContents="lax" />
		</xs:complexType>
	</xs:element>

	<xs:element name="namedIdentitySet">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="namedIdentitySet"/>
				</xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="identity">
						<xs:complexType>
							<xs:attribute name="name" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="type" use="required" type="namedSetType"/>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="namedSetType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ProcessDefinition"/>
			<xs:enumeration value="Executor"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="createActor">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="optional" />
			<xs:attribute name="fullName" type="xs:string" use="optional" />
			<xs:attribute name="password" type="xs:string" use="optional" />
			<xs:attribute name="code" type="xs:string" use="optional" />
			<xs:attribute name="email" type="xs:string" use="optional" />
			<xs:attribute name="phone" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

	<xs:element name="createGroup">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deleteExecutors">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="deleteExecutor" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteExecutor">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="deployProcessDefinition">
		<xs:complexType>
			<xs:attribute name="file" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="redeployProcessDefinition">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="definitionId" type="xs:long"/>
			<xs:attribute name="file" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="addExecutorsToGroup" type="executorsGroupOperationType" />
	
	<xs:element name="removeExecutorsFromGroup" type="executorsGroupOperationType" />
	
	<xs:element name="addPermissionsOnActor" type="PermissionsOnActorType"/>
	<xs:element name="setPermissionsOnActor" type="PermissionsOnActorType"/>
	<xs:element name="removePermissionsOnActor" type="PermissionsOnActorType"/>
	
	<xs:element name="addPermissionsOnGroup" type="PermissionsOnGroupType"/>
	<xs:element name="setPermissionsOnGroup" type="PermissionsOnGroupType"/>
	<xs:element name="removePermissionsOnGroup" type="PermissionsOnGroupType"/>
	
	<xs:element name="addPermissionsOnRelation" type="PermissionsOnRelationType"/>
	<xs:element name="setPermissionsOnRelation" type="PermissionsOnRelationType"/>
	<xs:element name="removePermissionsOnRelation" type="PermissionsOnRelationType"/>

	<xs:element name="addPermissionsOnDefinition" type="PermissionsOnProcessDefinitionType"/>
	<xs:element name="setPermissionsOnDefinition" type="PermissionsOnProcessDefinitionType"/>
	<xs:element name="removePermissionsOnDefinition" type="PermissionsOnProcessDefinitionType"/>
	
	<xs:element name="addPermissionsOnProcesses" type="PermissionsOnProcessType"/>
	<xs:element name="setPermissionsOnProcesses" type="PermissionsOnProcessType"/>
	<xs:element name="removePermissionsOnProcesses" type="PermissionsOnProcessType"/>
	
	<xs:element name="addPermissionsOnSystem" type="PermissionsOnSystemType"/>
	<xs:element name="setPermissionsOnSystem" type="PermissionsOnSystemType"/>
	<xs:element name="removePermissionsOnSystem" type="PermissionsOnSystemType"/>

	<xs:element name="addPermissionsOnRelationGroup" type="PermissionsOnRelationGroupType"/>
	<xs:element name="setPermissionsOnRelationGroup" type="PermissionsOnRelationGroupType"/>
	<xs:element name="removePermissionsOnRelationGroup" type="PermissionsOnRelationGroupType"/>

	<xs:element name="addPermissionsOnBotStations" type="PermissionsOnBotStationsType"/>
	<xs:element name="setPermissionsOnBotStations" type="PermissionsOnBotStationsType"/>
	<xs:element name="removePermissionsOnBotStations" type="PermissionsOnBotStationsType"/>
	
	<xs:element name="removeAllPermissionsFromExecutor" type="removeAllPermissionsType"/>
	<xs:element name="removeAllPermissionsFromProcessDefinition" type="removeAllPermissionsType"/>
	<xs:element name="removeAllPermissionsFromProcesses" type="removeAllPermissionsType"/>
	<xs:element name="removeAllPermissionsFromSystem"/>
	
	<xs:element name="replicateBatchPresentation">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="batchPresentation" type="batchPresentationType"/>
			</xs:sequence>
			<xs:attribute name="batchName" type="xs:string"/>
			<xs:attribute name="setActive">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="all"/>
						<xs:enumeration value="changed"/>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="useTemplates">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="batchPresentationType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="actorName" type="xs:string"/>
		<xs:attribute name="batchId" type="xs:string" use="required"/>
		<xs:attribute name="batchName" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="PermissionsOnActorType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.update_actor_status"/>
										<xs:enumeration value="permission.update_executor"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PermissionsOnGroupType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.update_executor"/>
										<xs:enumeration value="permission.list_group"/>
										<xs:enumeration value="permission.add_to_group"/>
										<xs:enumeration value="permission.remove_from_group"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PermissionsOnRelationType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.update_relation"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PermissionsOnProcessDefinitionType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.undeploy_definition"/>
										<xs:enumeration value="permission.redeploy_definition"/>
										<xs:enumeration value="permission.start_process"/>
										<xs:enumeration value="permission.read_process"/>
										<xs:enumeration value="permission.cancel_process"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PermissionsOnProcessType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNamedObjectType">
				<xs:sequence>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.cancel_process"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PermissionsOnSystemType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.login_to_system"/>
										<xs:enumeration value="permission.change_self_password"/>
										<xs:enumeration value="permission.create_executor"/>
										<xs:enumeration value="permission.deploy_definition"/>
										<xs:enumeration value="permission.view_logs"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PermissionsOnRelationGroupType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.update_relation"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PermissionsOnBotStationsType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:sequence>
					<xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="name" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="permission.read"/>
										<xs:enumeration value="permission.update_permissions"/>
										<xs:enumeration value="permission.bot_station_configure"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BasePermissionsOnNamedObjectType">
		<xs:complexContent>
			<xs:extension base="BasePermissionsOnNonamedObjectType">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BasePermissionsOnNonamedObjectType">
		<xs:attribute name="executor" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="removeAllPermissionsType">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="executorsGroupOperationType">
		<xs:sequence>
			<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="executor" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:element name="addConfigurationsToBot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="botConfiguration" minOccurs="1" maxOccurs="unbounded">
  					<xs:complexType>
    					<xs:sequence>
      						<xs:any minOccurs="0" processContents="lax" />
    					</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="handler" type="xs:string" use="optional"/>
						<xs:attribute name="embeddedFile" type="xs:string" use="optional"/>
						<xs:attribute name="configuration" type="xs:string"/>
						<xs:attribute name="configurationContent" type="xs:string"/>
						<xs:attribute name="sequentialExecution" type="xs:boolean" use="optional" />
  					</xs:complexType>					
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="botStation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="removeConfigurationsFromBot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="botConfiguration" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="botStation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="changeSubstitutions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="executor" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="delete" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="orgFunc" type="xs:string" use="optional"/>
						<xs:attribute name="criteria" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="add" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="orgFunc" type="xs:string" use="optional"/>
						<xs:attribute name="criteria" type="xs:string" use="optional"/>
						<xs:attribute name="isEnabled" type="xs:string" use="optional"/>
						<xs:attribute name="isFirst" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="removeAllConfigurationsFromBot">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="botStation" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="createBotStation">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="address" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updateBotStation">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="newName" type="xs:string"/>
			<xs:attribute name="address" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deleteBotStation">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="createBot">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="botStation" type="xs:string"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
			<xs:attribute name="startTimeout" type="xs:string"/>
			<xs:attribute name="sequentialExecution" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="updateBot">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="newName" type="xs:string"/>
			<xs:attribute name="botStation" type="xs:string"/>
			<xs:attribute name="newBotStation" type="xs:string"/>
			<xs:attribute name="password" type="xs:string"/>
			<xs:attribute name="startTimeout" type="xs:string"/>
			<xs:attribute name="sequentialExecution" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="deleteBot">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="botStation" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="removeProcessDefinitions">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:integer" use="optional"/>
			<xs:attribute name="versionFrom" type="xs:integer" use="optional"/>
			<xs:attribute name="versionTo" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="removeProcesses">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="optional" />
			<xs:attribute name="version" type="xs:integer" use="optional" />
			<xs:attribute name="id" type="xs:long" use="optional" />
			<xs:attribute name="idFrom" type="xs:long" use="optional" />
			<xs:attribute name="idTo" type="xs:long" use="optional" />
			<xs:attribute name="startDateFrom" type="xs:dateTime" use="optional" />
			<xs:attribute name="startDateTo" type="xs:dateTime" use="optional" />
			<xs:attribute name="endDateFrom" type="xs:dateTime" use="optional" />
			<xs:attribute name="endDateTo" type="xs:dateTime" use="optional" />
			<xs:attribute name="onlyFinished" type="xs:boolean" use="optional" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="left" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="executor" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="right" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="namedIdentitySet" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="executor" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="description" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="stopProcess">
		<xs:complexType>
			<xs:attribute name="id" type="xs:long" use="optional"/>
			<xs:attribute name="idFrom" type="xs:long" use="optional"/>
			<xs:attribute name="idTo" type="xs:long" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>